<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Layout, Responsive Assignment</title>
  <link rel="stylesheet" href="styles.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
</head>

<body>
  <div class="wrap">
    <!-- header -->
    <header class="header">
      <!-- logo -->
      <h1 class="logo">
        <a href="#" class="logo__link">CastPress.</a>
      </h1>
      <!-- // logo -->

      <!-- navbar -->
      <div class="navbar only-mo">
        <button class="btn__navbar btn__navbar-on"></button>
      </div>
      <!-- // navbar -->

      <!-- nav-->
      <nav class="nav">
        <ul class="nav__list">
          <li class="nav__item nav__item--paraent">
            <button class="paraent__title">
              Episodes
              <span class="icon-nav icon--down"></span>
            </button>
            <ul class="nav__child">
              <li class="nav__child-item">
                <a href="#" class="nav__child-link">Season 1</a>
              </li>
              <li class="nav__child-item">
                <a href="#" class="nav__child-link">Season 2</a>
              </li>
              <li class="nav__child-item">
                <a href="#" class="nav__child-link">Season 3</a>
              </li>
            </ul>
          </li>
          <li class="nav__item"><a href="#" class="nav__link">Blog</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Contact</a></li>
          <li class="nav__item nav__item--heart">
            <a href="#" class="nav__link">
              <span class="icon-nav icon--heart"></span>
              Donate
            </a>
          </li>
          <button class="nav__item nav__item--search only-pc">
            <span class="icon-nav icon--search"><span class="blind">search</span></span>
          </button>
        </ul>
      </nav>
      <!-- // nav -->
    </header>
    <!-- // header -->

    <!-- content -->
    <div class="inner content">
      <!-- audio -->
      <section class="audio">
        <div class="thumb audio__thumb">
          <img class="img" src="img/img__item1.png" alt="image audio">
        </div>
        <h2 class="audio__title">How to rapidly test any experience!</h2>
        <div class="audio__player">
          <button class="icon-audio icon--play">
            <span class="blind">play</span>
          </button>
          <span class="player__time player__time--current">00:00</span>
          <div class="player__progress">
            <span class="player__progress-on" style="width:27%;"></span>
          </div>
          <span class="player__time player__time--total">02:45</span>
          <button class="icon-audio icon--volume">
            <span class="blind">volume</span>
          </button>
          <button class="icon-audio icon--download">
            <span class="blind">download</span>
          </button>
        </div>
        <div class="audio__channel">
          <span class="channel__title">Listen on</span>
          <ul class="channel__list">
            <li class="channel__item">
              <a href="#" class="icon-channel icon--spotify"><span class="blind">spotify</span></a>
            </li>
            <li class="channel__item">
              <a href="#" class="icon-channel icon--soundcloud"><span class="blind">soundcloud</span></a>
            </li>
            <li class="channel__item">
              <a href="#" class="icon-channel icon--apple"><span class="blind">apple</span></a>
            </li>
          </ul>
        </div>
      </section>
      <!-- // audio -->

      <!-- episodes  -->
      <section class="episodes">
        <div class="episodes__item">
          <div class="episodes__tags">
            <span class="episodes__status">New</span>
            <div class="episodes__date">
              <span class="episodes__category">Business</span>
              <span class="episodes__time">Jan 18, 2021</span>
            </div>
          </div>
          <h3 class="title__name episodes__title">23 - How to rapidly test any experience!</h3>
          <p class="episodes__desc">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem
            ipsum dolor sit amet, consect adipiscing elit. Sed at arcu dui.
            Aenean placerat mauris nisl...
          </p>
          <a href="#" class="episodes__btn episodes__btn--first">
            <span class="icon-channel icon--playlisten"></span>
            <span class="btn-title">listen now</span>
          </a>
        </div>

        <div class="episodes__item">
          <div class="episodes__tags">
            <div class="episodes__date">
              <span class="episodes__category">Business</span>
              <span class="episodes__time">Jan 18, 2021</span>
            </div>
          </div>
          <h3 class="title__name episodes__title">
            22 - Everything you need to know about mind mapping creation
          </h3>
          <p class="episodes__desc">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem
            ipsum dolor sit amet, consect adipiscing elit...
          </p>
          <a href="#" class="episodes__btn">
            <span class="icon-channel icon--playlisten"></span>
            <span class="btn-title">listen now</span>
          </a>
        </div>

        <div class="episodes__item">
          <div class="episodes__tags">
            <div class="episodes__date">
              <span class="episodes__category">Business</span>
              <span class="episodes__time">Jan 18, 2021</span>
            </div>
          </div>
          <h3 class="title__name episodes__title">
            21 - Makemeup Podcast Theme; launch it now !
          </h3>
          <p class="episodes__desc">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem
            ipsum dolor sit amet, consect adipiscing elit...
          </p>
          <a href="#" class="episodes__btn">
            <span class="icon-channel icon--playlisten"></span>
            <span class="btn-title">listen now</span>
          </a>
        </div>

        <div class="pagination">
          <a href="#" class="pagination__link">1</a>
          <a href="#" class="pagination__link">2</a>
          <a href="#" class="pagination__link">3</a>
          <a href="#" class="pagination__link pagination__link--more">&#46;&#46;&#46;</a>
          <a href="#" class="pagination__link pagination__link--next"><span class="icon-nav icon--next"><span
                class="blind">next</span></span></a>
        </div>
      </section>
      <!-- // episodes -->

      <!-- member -->
      <section class="section section--member">
        <h2 class="section__title">Team</h2>
        <div class="section__content member">
          <div class="member__item">
            <div class="thumb member__thumb">
              <img class="img member__img" src="img/img__team1.png" alt="Aida Cave">
            </div>
            <div class="member__info">
              <span class="info__position">Position</span>
              <strong class="info__name">Aida Cave</strong>
              <ul class="member__sns">
                <li class="sns__item">
                  <a href="#" class="sns__link">
                    <span class="sns__icon icon--linkedin"><span class="blind">linkedin</span></span>
                  </a>
                </li>
                <li class="sns__item">
                  <a href="#" class="sns__link">
                    <span class="sns__icon icon--github"><span class="blind">github</span></a></span>
                </li>
                <li class="sns__item">
                  <a href="#" class="sns__link">
                    <span class="sns__icon icon--twitter"><span class="blind">twitter</span></span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="member__item">
            <div class="thumb member__thumb">
              <img class="img member__img" src="img/img__team2.png" alt="Nick cartleton">
            </div>
            <div class="member__info member__info--nick">
              <span class="info__position">Position</span>
              <strong class="info__name">Nick Carleton</strong>
              <ul class="member__sns">
                <li class="sns__item">
                  <a href="#" class="sns__link">
                    <span class="sns__icon icon--linkedin"><span class="blind">linkedin</span></span>
                  </a>
                </li>
                <li class="sns__item">
                  <a href="#" class="sns__link">
                    <span class="sns__icon icon--github"><span class="blind">github</span></a></span>
                </li>
                <li class="sns__item">
                  <a href="#" class="sns__link">
                    <span class="sns__icon icon--twitter"><span class="blind">twitter</span></span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <!-- // member -->

      <!-- posts -->
      <section class="section section--posts">
        <h2 class="section__title">Latest Posts</h2>
        <div class="section__content posts">
          <div class="posts__item">
            <div class="thumb posts__thumb">
              <img class="img" src="img/img__item2.png" alt="clock">
            </div>
            <div class="posts__desc">
              <strong class="title__name posts__name">How to create your own podcast cover art?</strong>
              <span class="posts__date">Dec 4, 2019</span>
              <a href="#" class="posts__link">Read More</a>
            </div>
          </div>
          <div class="posts__item">
            <div class="thumb posts__thumb">
              <img class="img" src="img/img__item3.png" alt="headphone">
            </div>
            <div class="posts__desc">
              <strong class="title__name posts__name">How to create your own podcast cover art?</strong>
              <span class="posts__date">Dec 4, 2019</span>
              <a href="#" class="posts__link">Read More</a>
            </div>
          </div>
        </div>

        <div class="posts__view-btn">
          <a href="#" class="posts__view-link">View Blog</a>
        </div>
      </section>
      <!-- // posts -->

    </div>
    <!-- // content -->

    <!-- footer -->
    <div class="inner footer">
      <div class="footer__container">
        <ul class="footer__nav">
          <li class="footer__nav-item">
            <a href="#" class="footer__nav-link">Episodes</a>
          </li>
          <li class="footer__nav-item">
            <a href="#" class="footer__nav-link">Blog</a>
          </li>
          <li class="footer__nav-item">
            <a href="#" class="footer__nav-link">Contact</a>
          </li>
          <li class="footer__nav-item">
            <a href="#" class="footer__nav-link">Donate</a>
          </li>
        </ul>
        <div class="footer__signup">
          <strong class="footer__title">Newsletter</strong>
          <span class="footer__desc">Sign up now; get closer to our action.</span>
          <form class="footer__input">
            <input type="email" id="gmail" name="gmail" class="input-gmail" placeholder="Email adress...">
            <button type="submit" class="btn-send"><span class="blind">send gmail</span></button>
          </form>
        </div>
        <div class="footer__policy">
          <span class="footer__policy-desc">PodcastTheme By VitaThemes &#124; Privacy Policy</span>
          <ul class="footer__sns">
            <li class="footer__sns-item">
              <a href="#" class="sns__icon sns__icon--facebook"><span class="blind">facebook</span></a>
            </li>
            <li class="footer__sns-item">
              <a href="#" class="sns__icon sns__icon--github"><span class="blind">github</span></a>
            </li>
            <li class="footer__sns-item">
              <a href="#" class="sns__icon sns__icon--twitter"><span class="blind">twitter</span></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- // footer -->

  </div>

  <script src="index.js"></script>
</body>

</html>