@charset "utf-8";

@font-face {
  font-family: "Oswald";
  font-weight: 400;
  font-style: normal;
  src: url(font/Oswald-Regular.woff) format("woff");
}

@font-face {
  font-family: "SourceSerifPro";
  font-weight: 400;
  font-style: normal;
  src: url(font/SourceSerifPro-Regular.woff) format("woff");
}

@font-face {
  font-family: "SourceSerifPro";
  font-weight: 600;
  font-style: normal;
  src: url(font/SourceSerifPro-Bold.woff) format("woff");
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
a,
button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: SourceSerifPro;
}

ol,
ul {
  list-style: none;
  font-size: 0;
}

button {
  background: transparent;
}

a {
  color: #000;
  text-decoration: none;
}

.blind {
  overflow: hidden;
  position: absolute;
  padding: 0 !important;
  width: 1px !important;
  height: 1px !important;
  line-height: 1px !important;
  clip: rect(1px, 1px, 1px, 1px);
}
/* general */

.only-pc {
  display: block;
}
.only-mo {
  display: none;
}
.inner {
  max-width: 670px;
  padding: 0 60px;
  margin: 0 auto;
}

.thumb {
  overflow: hidden;
  border-radius: 4px;
}

.thumb .img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.title__name {
  overflow: hidden;
  font-size: 21px;
  font-weight: 600;
  line-height: 25px;
  color: #222;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.section {
  margin-top: 64px;
}
.section__title {
  font-size: 26px;
  font-weight: 600;
  line-height: 32px;
  color: #222;
}
.section__content {
  margin-top: 25px;
  font-size: 0;
}
/*// general */
.wrap {
  max-width: 1440px;
  margin: 0 auto;
}

/* header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 105px;
  padding: 0px 140px;
  border-bottom: 1px solid #eaeaee;
}

.logo__link {
  padding: 10px;
  font-family: Oswald;
  font-size: 19px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.05em;
  text-align: left;
}
/* // header */

/* nav */

.nav__item {
  display: inline-block;
  font-size: 0;
  vertical-align: middle;
}
.nav__item + .nav__item {
  margin-left: 21px;
}

.nav__item a,
.paraent__title {
  font-size: 12px;
  font-weight: 600;
  line-height: 15px;
  letter-spacing: 0.16em;
  color: #222222;
  text-align: left;
  text-transform: uppercase;
  transition: all 0.4s ease;
}

.nav__item a:hover,
.nav__item--paraent:hover .paraent__title,
.paraent__title:hover {
  color: #7247ca;
}

.nav__item--heart .nav__link:hover .icon--heart {
  background-position: -12px -2px;
}

.nav__link,
.nav__item--search,
.paraent__title {
  padding: 8px;
  cursor: pointer;
}

.paraent__title {
  position: relative;
}

.nav__child {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.nav__child-item {
  padding: 5px 10px;
}

.nav__item .nav__child-link {
  color: #979797;
  text-transform: capitalize;
}

.icon-nav {
  display: inline-block;
  background-image: url("img/list_icon_nav.png");
  background-repeat: no-repeat;
}

.icon--search {
  width: 16px;
  height: 16px;
  background-position: -27px -2px;
}

.icon--heart {
  width: 13px;
  height: 12px;
  margin-right: 6px;
  background-position: -63px -2px;
  vertical-align: middle;
}

.icon--down {
  width: 8px;
  height: 5px;
  margin-left: 2px;
  background-position: -2px -2px;
}
.icon--up {
  width: 8px;
  height: 5px;
  margin-left: 5px;
  background-position: -45px -2px;
}

.content {
  margin-top: 96px;
}
/* .nav__item--paraent {
  display: inline-block;
} */
.nav__item--paraent:hover .icon--down {
  transform: rotate(180deg);
}
/* // nav */

/* audio */
/* .audio {
  margin: 0 auto;
} */

.audio__thumb {
  width: 180px;
  height: 180px;
  margin: 0 auto;
}

.audio__title {
  margin-top: 39px;
  font-size: 26px;
  font-weight: 600;
  line-height: 32px;
  text-align: center;
}

.audio__player {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 39px;
}

.player__time {
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0.16em;
  color: #555;
}
.player__time--current {
  margin: 0 8px 0 12px;
}
.player__time--total {
  margin: 0 9px 0 11px;
}
.player__progree {
  width: 75%;
  height: 7px;
  border: 0;
  border-radius: 2px;
  background-color: #f5f5f7;
}

.player__progree-on {
  display: inline-block;
  height: 100%;
  border-radius: 2px;
  background-color: #222;
  vertical-align: top;
}

.icon-audio {
  display: inline-block;
  background-image: url("img/list_music.png");
  background-repeat: no-repeat;
  vertical-align: middle;
  cursor: pointer;
}

.icon--play {
  flex: 0 0 15px;
  width: 15px;
  height: 16px;
  background-position: -2px -2px;
}

.icon--volume {
  flex: 0 0 16px;
  width: 16px;
  height: 14px;
  background-position: -19px -2px;
}

.icon--download {
  flex: 0 0 13px;
  width: 13px;
  height: 14px;
  margin-left: 16px;
  background-position: -37px -2px;
}

.audio__channels {
  margin-top: 39px;
}

.channels__title {
  display: block;
  font-size: 12px;
  font-weight: 600;
  line-height: 15px;
  letter-spacing: 0.16em;
  text-align: center;
  text-transform: uppercase;
}

.channels__list {
  display: block;
  text-align: center;
  margin-top: 12px;
}
.channels__item {
  display: inline-block;
  vertical-align: middle;
}
.channels__item + .channels__item {
  margin-left: 30px;
}
.icon-channels {
  display: inline-block;
  background-image: url("img/list_channels.png");
  background-repeat: no-repeat;
}

.icon--spotify {
  width: 24px;
  height: 24px;
  background-position: -2px -2px;
}

.icon--soundcloud {
  width: 30px;
  height: 30px;
  background-position: -28px -2px;
}

.icon--apple {
  width: 22px;
  height: 24px;
  background-position: -60px -2px;
}
/*// audio */

/* episodes */
.episodes {
  margin-top: 96px;
}
.episodes__item {
  font-size: 0;
}
.episodes__item:nth-child(2) {
  margin-top: 70px;
}
.episodes__item:nth-child(3) {
  margin-top: 51px;
}
.episodes__tags {
  display: inline-block;
}
.episodes__status {
  margin-right: 8px;
  padding: 5px 8px;
  background-color: #f5f5f7;
  font-size: 10px;
  font-weight: 600;
  line-height: 13px;
  letter-spacing: 0em;
  text-transform: uppercase;
  color: #7247ca;
}
.episodes__date {
  display: inline-block;
}
.episodes__date span {
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
  color: #979797;
}
.episodes__category {
  position: relative;
}
.episodes__category::after {
  position: absolute;
  top: 0;
  right: -9px;
  content: "|";
}
.episodes__time {
  margin-left: 16px;
}
.episodes__title {
  max-height: 25px;
  margin-top: 10px;
}
.episodes__desc {
  overflow: hidden;
  max-height: 50px;
  margin-top: 12px;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  color: #555;
  text-overflow: ellipsis;
  white-space: wrap;
}
.episodes__btn {
  display: inline-flex;
  align-items: center;
  margin-top: 16px;
  cursor: pointer;
}

.icon--play2 {
  width: 24px;
  height: 24px;
  background-position: -84px -2px;
}
.btn-title {
  display: inline-block;
  margin-left: 10px;
  font-size: 12px;
  font-weight: 600;
  line-height: 15px;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  color: #7247ca;
}
/*// episodes */

/* pagination */
.pagination {
  display: inline-flex;
  align-items: center;
  margin-top: 64px;
}
.pagination__link {
  padding: 8px 12px 7px 12px;
  border-radius: 4px;
  background-color: #f5f5f7;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  color: #555;
}
.pagination__link + .pagination__link {
  margin-left: 5px;
}
.pagination__link--more {
  height: 30px;
  padding: 0 10px;
  line-height: 26px;
}
.pagination__link--next {
  padding: 8px 12px 7px 14px;
  background-color: transparent;
}
.icon--next {
  width: 6px;
  height: 10px;
  background-position: -55px -2px;
}
/*// pagination */

/* member */
.member {
  display: block;
}
.member__item {
  display: inline-block;
  overflow: hidden;
  width: calc(50% - 35px);
  margin-top: 30px;
  border-radius: 4px;
  background-color: #f5f5f7;
  text-align: left;
}
.member__item:nth-child(even) {
  float: right;
}
.member__item:nth-child(-n + 2) {
  margin-top: 0;
}

.member__thumb {
  position: relative;
  border-radius: 0;
  width: 100%;
  padding-top: 100%;
}
.member__img {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}
.member__info {
  display: block;
  padding: 16px;
}
.info__position {
  font-size: 12px;
  font-weight: 600;
  line-height: 15px;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  color: #7247ca;
}
.info__name {
  display: inline-block;
  overflow: hidden;
  width: 100%;
  height: 46px;
  max-height: 46px;
  margin-top: 8px;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  color: #222;
}
.member__sns {
  display: block;
  margin-top: 13px;
  line-height: 0;
}
.sns__item{
  display: inline-block;
}
.sns__item + .sns__item {
  margin-left: 5px;
}
.sns__link {
  display: inline-block;
  padding: 4px;
}
.sns__icon {
  display: inline-block;
  background-image: url("img/list_sns.png");
  background-repeat: no-repeat;
}

.icon--linkedin {
  width: 13px;
  height: 13px;
  background-position: -2px -2px;
}

.icon--github {
  width: 13px;
  height: 13px;
  background-position: -17px -2px;
}

.icon--twitter {
  width: 14px;
  height: 12px;
  background-position: -32px -2px;
}
/*// member */

/* posts */
.section--posts {
  padding-bottom: 64px;
  border-bottom: 1px solid #eaeaee;
}
.posts__item {
  display: inline-block;
  font-size: 0;
}
.posts__item + .posts__item {
  margin-top: 24px;
}
.posts__thumb {
  display: inline-block;
  width: 180px;
  height: 180px;
}
.posts__desc {
  display: inline-block;
  vertical-align: top;
  margin-left: 39px;
}
.posts__name {
  max-height: 50px;
  white-space: wrap;
}
.posts__date {
  display: block;
  margin-top: 16px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #979797;
}
.posts__link {
  display: inline-block;
  margin-top: 35px;
  padding: 4px;
  color: #7247ca;
  font-size: 14px;
  font-weight: 600;
  line-height: 25px;
}
.posts__view-btn {
  display: inline-block;
  margin-top: 48px;
}
.posts__view-link {
  display: inline-block;
  position: relative;
  padding: 7px 30px 9px 16px;
  border-radius: 3px;
  background-color: #f5f5f7;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #7247ca;
}
.posts__view-link::after {
  position: absolute;
  top: 50%;
  right: 16px;
  width: 5px;
  height: 8px;
  background: url(img/icon__next3.png) no-repeat center/cover;
  transform: translateY(-50%);
  content: "";
}
/*// posts */

/* footer */
.footer {
  margin-top: 64px;
  margin-bottom: 39px;
}
.footer__nav {
  display: inline-block;
}
.footer__signup {
  float: right;
}
.footer__policy {
  display: block;
}
.footer__nav-link {
  font-size: 14px;
  font-weight: 600;
  line-height: 25px;
  color: #555;
}
.footer__nav-item + .footer__nav-item {
  margin-top: 9px;
}

.footer__title {
  display: block;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  color: #222;
}
.footer__desc {
  display: inline-block;
  margin-top: 8px;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  color: #555;
}
.footer__input {
  position: relative;
  margin-top: 12px;
}
.input-gmail {
  width: 315px;
  padding: 14px 50px 14px 14px;
  border: none;
  border-radius: 4px;
  background-color: #f5f5f7;
  box-sizing: border-box;
  outline: none;
}

::placeholder {
  font-family: SourceSerifPro;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  color: #555;
}
.btn-send {
  position: absolute;
  top: 50%;
  right: 3px;
  width: 36px;
  height: 36px;
  border: none;
  border-radius: 4px;
  background-color: #7247ca;
  transform: translateY(-50%);
  cursor: pointer;
}
.btn-send::before {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 11px;
  height: 8px;
  background: url(img/icon__next2.png) no-repeat center/cover;
  transform: translate(-50%, -50%);
  content: "";
}
.footer__policy {
  text-align: center;
  margin-top: 89px;
}
.footer__policy-desc {
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #222;
}
.footer__sns {
  display: inline-block;
  text-align: center;
  margin-top: 26px;
}
.footer__sns-item {
  display: inline-block;
  text-align: center;
}
.footer__sns-item + .footer__sns-item {
  margin-left: 23px;
}

.sns__icon--facebook {
  width: 9px;
  height: 15px;
  background-position: -48px -2px;
}

.sns__icon--github {
  width: 16px;
  height: 15px;
  background-position: -59px -2px;
}

.sns__icon--twitter {
  width: 18px;
  height: 15px;
  background-position: -77px -2px;
}
/*// footer */

@media screen and (max-width: 1024px) {
  .header {
    height: 75px;
    padding: 0px 60px;
  }
}

@media screen and (max-width: 768px) {
  .nav.is-on {
    display: block;
  }
  .only-pc {
    display: none;
  }
  .only-mo {
    display: block;
  }

  .header {
    flex-wrap: wrap;
    height: 100%;
    padding: 16px 16px;
  }

  .logo {
    height: 42px;
    line-height: 42px;
  }
  .nav {
    display: none;
    flex: 0 0 100%;
    padding: 28px 0 32px 0;
  }
  .btn__navbar {
    display: inline-block;
    background-image: url("img/list_mo_nav.png");
    background-repeat: no-repeat;
    cursor: pointer;
  }

  .btn__navbar-on {
    width: 32px;
    height: 32px;
    background-position: -2px -2px;
  }

  .btn__navbar-off {
    width: 32px;
    height: 32px;
    background-position: -36px -2px;
  }

  .nav__list {
    display: block;
    text-align: center;
    width: 100%;
  }
  .nav__item {
    display: block;
  }
  .nav__item--paraent {
    display: inline-block;
  }
  .nav__item--paraent:hover .nav__child {
    display: block;
  }
  .nav__item--search {
    display: none;
  }
  .nav__item + .nav__item {
    margin-top: 39px;
    margin-left: 0;
  }

  .nav__item a,
  .nav__item button {
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0.16em;
  }
  .nav__child {
    position: static;
    margin-top: 16px;
    background-color: #fff;
    box-shadow: none;
    text-align: center;
  }
  .nav__child-item {
    padding: 0;
  }
  .nav__child-item + .nav__child-item {
    margin-top: 16px;
  }
  .icon--heart {
    vertical-align: baseline;
  }
  .member__item {
    width: 100%;
  }
  .member__item + .member__item {
    margin-top: 24px;
  }
  .member__item:nth-child(even) {
    float: none;
  }
  .posts__desc {
    display: block;
    margin: 16px 0 0 0;
  }
}

@media only screen and (max-width: 576px) {
  .inner {
    padding: 0 16px;
  }
  .content {
    margin: 65px auto 24px;
    border-bottom: 1px solid#EAEAEE;
  }
  .player__progree {
    width: 146px;
  }
  .player__progree-on {
    width: 14%;
  }
  .icon--download {
    display: none;
  }
  .player__time--current {
    margin: 0 4px 0 12px;
  }
  .player__time--total {
    margin: 0 10px;
  }
  .episodes {
    margin-top: 64px;
  }
  .episodes__title {
    max-height: 75px;
    white-space: wrap;
  }
  .episodes__status {
    margin-right: 10px;
    padding: 6px 7px;
  }
  .episodes__desc {
    max-height: 75px;
    margin-top: 10px;
    white-space: wrap;
  }
  .episodes__item + .episodes__item,
  .pagination {
    margin-top: 45px;
  }

  /* .member */
  .member__thumb {
    position: relative;
    padding-top: 104.1667%;
    width: 100%;
  }
  .member__info {
    padding: 16px 9px;
  }
  /* .member */

  /* Latest Posts */
  .posts {
    border-bottom: 0;
  }
  .section--posts {
    border-bottom: 0;
  }
  .posts__item {
    display: inline-block;
  }
  .posts__more {
    margin-top: 16px;
  }
  .posts__item + .posts__item {
    margin-top: 35px;
  }
  .posts__view-btn {
    display: inline-block;
    margin-top: 34px;
  }
  .posts__link {
    margin-top: 12px;
  }
  /* Latest Posts */

  /* footer */
  .footer {
    margin: 47px auto 39px;
  }
  .footer__container {
    display: block;
  }
  .footer__signup {
    display: block;
    float: none;
    margin-top: 32px;
    margin-left: 0;
  }
  .input-gmail {
    width: 100%;
  }
  .footer__desc {
    margin-top: 6px;
  }
  .footer__input {
    margin-top: 14px;
  }
  .footer__policy {
    margin-top: 64px;
  }
  /* footer */
}

/* .team-thumb {

} */

/* .thumb {
  overflow: hidden;
  border-radius: 4px;
}

.thumb .img {
  width: 100%;
  height: 100%;
  object-fit: cover;
} */
