<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Layout, Responsive Assignment</title>
  <link rel="stylesheet" href="styles.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
</head>

<body>
  <div class="wrap">
    <!-- header -->
    <header class="header">
      <!-- header logo -->
      <div class="logo">
        <a href="#">CastPress.</a>
      </div>
      <!-- // header logo -->

      <!-- header menu -->
      <div class="menu only-mo">
        <button class="btn__menu btn__menu-on"></button>
      </div>
      <!-- // header menu -->

      <!-- nav-->
      <nav class="nav">
        <ul class="nav__list">
          <li class="nav__item nav__item--episodes">
            <button class="nav__episodes-title nav__link">
              <span>Episodes</span>
              <span class="icon-nav icon--down"></span>
            </button>
            <ul class="nav__episodes-list">
              <li class="nav__episodes-item">
                <a href="#" class="nav__episodes-link">Season 1</a>
              </li>
              <li class="nav__episodes-item">
                <a href="#" class="nav__episodes-link">Season 2</a>
              </li>
              <li class="nav__episodes-item">
                <a href="#" class="nav__episodes-link">Season 3</a>
              </li>
            </ul>
          </li>
          <li class="nav__item"><a href="#" class="nav__link">Blog</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Contact</a></li>
          <li class="nav__item nav__item--heart">
            <a href="#" class="nav__link">
              <span class="icon-nav icon--heart"></span>
              <span>Donate</span>
            </a>
          </li>
          <li class="nav__item nav__item--search">
            <button class="icon-nav icon--search"></button>
          </li>
        </ul>
      </nav>
      <!-- // nav -->
    </header>
    <!-- // header -->

    <!-- content -->
    <div class="content">
      <!-- slider -->
      <section class="slider">
        <div class="slider__image">
          <img src="img/img__item1.png" alt="" />
        </div>
        <h2 class="slider__title">How to rapidly test any experience!</h2>
        <div class="slider__player">
          <button class="icon-slider icon--play">
            <span class="blind">play</span>
          </button>
          <span class="player__time player__time--current">00:00</span>
          <div class="player__bar">
            <div class="player__bar-on"></div>
          </div>
          <span class="player__time player__time--total">02:45</span>
          <button class="icon-slider icon--volume">
            <span class="blind">volume</span>
          </button>
          <button class="icon-slider icon--download">
            <span class="blind">download</span>
          </button>
        </div>
        <div class="slider__channels">
          <span class="channels__title">Listen on</span>
          <ul class="channels__list">
            <li class="channels__item">
              <a href="#" class="icon-channels icon--spotify"><span class="blind">spotify</span></a>
            </li>
            <li class="channels__item">
              <a href="#" class="icon-channels icon--soundcloud"><span class="blind">soundcloud</span></a>
            </li>
            <li class="channels__item">
              <a href="#" class="icon-channels icon--apple"><span class="blind">apple</span></a>
            </li>
          </ul>
        </div>
      </section>
      <!-- // slider -->

      <!-- episodes  -->
      <section class="episodes">
        <div class="episodes__item">
          <div class="episodes__tags">
            <span class="episodes__status">New</span>
            <div class="episodes__date">
              <span class="episodes__category">Business</span>
              <span class="episodes__time">Jan 18, 2021</span>
            </div>
          </div>
          <div class="title-wrap">
            <h3 class="episodes__title only-pc">23 - How to rapidly test any experience!</h3>
            <h3 class="episodes__title only-mo">23 - Makemeup Podcast Theme</h3>
          </div>
          <div class="desc-wrap">
            <p class="episodes__desc only-pc">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem
              ipsum dolor sit amet, consect adipiscing elit. Sed at arcu dui.
              Aenean placerat mauris nisl...
            </p>
            <p class="episodes__desc only-mo">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet...
            </p>
          </div>
          <a href="#" class="episodes__btn episodes__btn--first">
            <span class="icon--play2"><span class="blind">play</span></span>
            <span class="btn-title">listen now</span>
          </a>
        </div>

        <div class="episodes__item">
          <div class="episodes__tags">
            <div class="episodes__date">
              <div class="category-wrap">
                <span class="episodes__category only-pc">Business</span>
                <span class="episodes__category only-mo">Education</span>
              </div>
              <span class="episodes__time">Jan 18, 2021</span>
            </div>
          </div>
          <div class="title-wrap">
            <h3 class="episodes__title only-pc">
              22 - Everything you need to know about mind mapping creation
            </h3>
            <h3 class="episodes__title only-mo">
              22 - Makemeup Podcast Theme; launch an audio podcast website
            </h3>
          </div>
          <div class="desc-wrap">
            <p class="episodes__desc only-pc">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem
              ipsum dolor sit amet, consect adipiscing elit...
            </p>
            <p class="episodes__desc only-mo">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at arcu dui. Aenean placerat mauris nisl...
            </p>
          </div>
          <a href="#" class="episodes__btn">
            <span class="icon--play2"><span class="blind">play</span></span>
            <span class="btn-title">listen now</span>
          </a>
        </div>

        <div class="episodes__item">
          <div class="episodes__tags">
            <div class="episodes__date">
              <div class="category-wrap">
                <span class="episodes__category only-pc">Business</span>
                <span class="episodes__category only-mo">Market</span>
              </div>
              <span class="episodes__time">Jan 18, 2021</span>
            </div>
          </div>
          <h3 class="episodes__title">
            21 - Makemeup Podcast Theme; launch it now !
          </h3>
          <div class="desc-wrap">
            <p class="episodes__desc only-pc">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem
              ipsum dolor sit amet, consect adipiscing elit...
            </p>
            <p class="episodes__desc only-mo">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet...
            </p>
          </div>
          <a href="#" class="episodes__btn">
            <span class="icon--play2"><span class="blind">play</span></span>
            <span class="btn-title">listen now</span>
          </a>
        </div>

        <div class="pagination">
          <a href="#" class="pagination__link">1</a>
          <a href="#" class="pagination__link">2</a>
          <a href="#" class="pagination__link">3</a>
          <a href="#" class="pagination__link pagination__link--more">&#46;&#46;&#46;</a>
          <a href="#" class="pagination__link pagination__link--next"><span class="icon-nav icon--next"><span
                class="blind">next</span></span></a>
        </div>
      </section>
      <!-- // episodes -->

      <!-- member -->
      <section class="member">
        <h2 class="member__title">Team</h2>
        <div class="member__list">
          <div class="member__item">
            <div class="member__thumb">
              <img src="img/img__team1.png" alt="Aida Cave" />
            </div>
            <div class="member__info">
              <span class="info__position">Position</span>
              <strong class="info__name">Aida Cave</strong>
              <ul class="member__sns">
                <li class="sns-item">
                  <a href="#" class="icon-sns icon--linkedin"><span class="blind">linkedin</span></a>
                </li>
                <li class="sns-item">
                  <a href="#" class="icon-sns icon--github"><span class="blind">github</span></a>
                </li>
                <li class="sns-item">
                  <a href="#" class="icon-sns icon--twitter"><span class="blind">twitter</span></a>
                </li>
              </ul>
            </div>
          </div>
          <div class="member__item">
            <div class="member__thumb">
              <img src="img/img__team2.png" alt="Nick cartleton" />
            </div>
            <div class="member__info">
              <span class="info__position">Position</span>
              <strong class="info__name">Nick Carleton</strong>
              <ul class="member__sns">
                <li class="sns-item">
                  <a href="#" class="icon-sns icon--linkedin"><span class="blind">linkedin</span></a>
                </li>
                <li class="sns-item">
                  <a href="#" class="icon-sns icon--github"><span class="blind">github</span></a>
                </li>
                <li class="sns-item">
                  <a href="#" class="icon-sns icon--twitter"><span class="blind">twitter</span></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <!-- // member -->

      <!-- posts -->
      <section class="posts">
        <h2 class="posts__title">Latest Posts</h2>
        <div class="posts__list">
          <div class="posts__item">
            <div class="posts__thumb">
              <img src="img/img__item2.png" alt="clock" />
            </div>
            <div class="posts__desc">
              <strong class="posts__desc-title">How to create your own podcast cover art?</strong>
              <span class="posts__desc-date">Dec 4, 2019</span>
              <span class="posts__desc-more"><a href="#" class="posts__desc-link">Read More</a></span>
            </div>
          </div>
          <div class="posts__item">
            <div class="posts__thumb">
              <img src="img/img__item3.png" alt="headphone" />
            </div>
            <div class="posts__desc">
              <strong class="posts__desc-title">How to create your own podcast cover art?</strong>
              <span class="posts__desc-date">Dec 4, 2019</span>
              <span class="posts__desc-more"><a href="#" class="posts__desc-link">Read More</a></span>
            </div>
          </div>
        </div>

        <div class="posts__view-btn">
          <a href="#" class="posts__view-link">View Blog</a>
        </div>
      </section>
      <!-- // posts -->

    </div>
    <!-- // content -->

    <!-- footer -->
    <div class="footer content">
      <div class="footer__container">
        <ul class="footer__nav">
          <li class="footer__nav-item">
            <a href="#" class="footer__nav-link">Episodes</a>
          </li>
          <li class="footer__nav-item">
            <a href="#" class="footer__nav-link">Blog</a>
          </li>
          <li class="footer__nav-item">
            <a href="#" class="footer__nav-link">Contact</a>
          </li>
          <li class="footer__nav-item">
            <a href="#" class="footer__nav-link">Donate</a>
          </li>
        </ul>
        <div class="footer__signup">
          <h2 class="footer__title">Newsletter</h2>
          <span class="footer__desc">Sign up now; get closer to our action.</span>
          <div class="footer__input">
            <input type="text" id="gmail" name="gmail" class="input-gmail" placeholder="Email adress..." />
            <a href="#" class="btn-send"><span class="blind">send gmail</span></a>
          </div>
        </div>
      </div>
      <div class="footer__policy">
        <span class="footer__policy-desc">PodcastTheme By VitaThemes &#124; Privacy Policy</span>
        <ul class="footer__sns">
          <li class="footer__sns-item">
            <a href="#" class="footer__icon footer__icon--facebook"><span class="blind">facebook</span></a>
          </li>
          <li class="footer__sns-item">
            <a href="#" class="footer__icon footer__icon--github"><span class="blind">github</span></a>
          </li>
          <li class="footer__sns-item">
            <a href="#" class="footer__icon footer__icon--twitter"><span class="blind">twitter</span></a>
          </li>
        </ul>
      </div>
    </div>
    <!-- // footer -->

  </div>

  <script src="index.js"></script>
</body>

</html>