@charset "UTF-8";
/* common */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
table,
th,
td,
form,
fieldset,
legend,
textarea,
input,
select,
textarea,
button,
article,
aside,
dialog,
footer,
header,
section,
footer,
nav,
figure,
main {
  margin: 0;
  padding: 0;
  font-family: ClashDisplay;
}

html,
body {
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

/* for mobile */
body,
input,
select,
textarea,
button {
  font-family: Satoshi;
}

ul,
ol {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input,
button,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  border: 0;
  border-radius: 0;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

/* input내 clear 버튼 제거 : IE10+ */
img,
fieldset {
  border: 0;
  vertical-align: top;
}

em,
address {
  font-style: normal;
}

.blind,
caption span,
legend {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  clip: rect(0, 0, 0, 0);
}

@font-face {
  font-family: "ClashDisplay";
  font-weight: 400;
  font-style: normal;
  src: url(/font/ClashDisplay-Regular.woff) format("woff");
}
@font-face {
  font-family: "Satoshi";
  font-weight: 400;
  font-style: normal;
  src: url(/font/Satoshi-Regular.woff) format("woff");
}
:root {
  --dark-primary: #2a254b;
  --dark-primary-hover: #1E193E;
  --primary: #4e4d93;
  --light-gray: #f9f9f9;
  --border-gray: #ebe8f4;
  --white: #fff;
  --border-dark: #cac6da;
  --bg-dark: rgba(249, 249, 249, 0.15);
  --bg-dark-hover: rgba(249, 249, 249, 0.3);
}

body {
  background-color: #f5f5f5;
}

/* <!-- [D] Typography --> */
.heading_one {
  font-size: 36px;
  font-weight: 400;
  line-height: 50px;
}
.heading_two {
  font-size: 32px;
  font-weight: 400;
  line-height: 45px;
}
.heading_three {
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
}
.heading_four {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
}
.heading_five {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}
.heading_six {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.body_sm {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}
.body_md {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.body_lg {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
}

/* <!--// [D] Typography --> */
/* <!-- [D] Button --> */
.btn {
  display: inline-flex;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  box-sizing: border-box;
  transition: background-color 0.3s ease-out;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.btn.is_disabled {
  opacity: 50%;
  pointer-events: none;
}
.btn_md {
  padding: 16px 32px;
}
.btn_sm {
  padding: 12px 24px;
}

.ico {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-left: 12px;
}
.ico_downwhite {
  background: url(/img/ico_down1.png) center no-repeat;
}
.ico_downdark {
  background: url(/img/ico_down2.png) center no-repeat;
}

/* <!-- [D] White --> */
.btn_white {
  background-color: var(--white);
  color: var(--dark-primary);
}
.btn_white:hover {
  background-color: var(--light-gray);
}
.btn_white:focus {
  border: 2px solid var(--primary);
}

/* <!--// [D] White --> */
/* <!-- [D] Secondary --> */
.btn_secondary {
  background-color: var(--light-gray);
  color: var(--dark-primary);
}
.btn_secondary:hover {
  background-color: var(--border-gray);
}
.btn_secondary:focus {
  border: 2px solid var(--primary);
}

/* <!--// [D] Secondary --> */
/* <!-- [D] Primary --> */
.btn_primary {
  background-color: var(--dark-primary);
  color: var(--white);
}
.btn_primary:hover {
  background-color: var(--dark-primary-hover);
}
.btn_primary:focus {
  border: 2px solid var(--primary);
}

/* <!--// [D] Primary --> */
/* <!-- [D] Opaque --> */
.btn_opaque {
  background-color: var(--bg-dark);
  color: var(--white);
}
.btn_opaque:hover {
  background: var(--bg-dark-hover);
}
.btn_opaque:focus {
  border: 2px solid var(--primary);
}

/* <!--// [D] Opaque --> */
/* <!-- [D] Ghost --> */
.btn_ghost {
  background-color: transparent;
  color: var(--dark-primary);
}
.btn_ghost:hover {
  background: var(--border-gray);
}
.btn_ghost:focus {
  border: 2px solid var(--primary);
}

/* <!--// [D] Ghost --> */
/* <!--// [D] Button--> */
.product_item {
  display: inline-block;
  width: 30%;
  margin-top: 20px;
  font-size: 0;
}
.product_item:nth-child(even) {
  width: calc(70% - 20px);
  margin-left: 20px;
}
.product_item:nth-child(-n+2) {
  margin-top: 0;
}

.thumb {
  position: relative;
  overflow: hidden;
}
.thumb_img_4x5 {
  padding-top: 134%;
}
.thumb_img_5x3 {
  padding-top: 59.237%;
}
.thumb .img {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.info_title {
  margin-top: 24px;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
}
.info_price {
  margin-top: 8px;
  font-family: Satoshi;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
}

.form {
  display: inline-block;
}

input {
  border: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  outline: none;
}

::-moz-placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

::placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.input {
  width: 354px;
  height: 56px;
  padding: 0px 32px;
}
.input_white {
  background-color: var(--white);
}
.input_white::-moz-placeholder {
  color: var(--border-dark);
  -moz-user-select: none;
       user-select: none;
}
.input_white::placeholder {
  color: var(--border-dark);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.input_transparent {
  background: rgba(255, 255, 255, 0.15);
}
.input_transparent::-moz-placeholder {
  color: var(--white);
  -moz-user-select: none;
       user-select: none;
}
.input_transparent::placeholder {
  color: var(--white);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.submit {
  width: 118px;
  height: 56px;
  padding: 16px 32px;
  vertical-align: bottom;
  cursor: pointer;
}
.submit_dark {
  background-color: var(--dark-primary);
  color: var(--white);
}
.submit_white {
  background-color: var(--white);
  color: var(--dark-primary);
}

.steps {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 122px;
  height: 46px;
  padding: 12px 16px;
  box-sizing: border-box;
}
.steps_white {
  background-color: var(--white);
}
.steps_gray, .steps_gray input {
  background-color: var(--light-gray);
}
.steps span {
  display: inline-block;
  padding: 0 8px;
  font-family: Satoshi;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: var(--border-gray);
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.steps input {
  width: 100%;
  text-align: center;
}

.checkbox {
  display: inline-flex;
  align-items: center;
}
.checkbox input[type=checkbox] {
  accent-color: var(--dark-primary);
}
.checkbox_input {
  display: inline-block;
  width: 16px;
  height: 16px;
  -webkit-appearance: checkbox;
     -moz-appearance: checkbox;
          appearance: checkbox;
}
.checkbox label {
  display: inline-block;
  padding-left: 12px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}

.feature {
  width: 305px;
  height: 244px;
  padding: 48px;
  background-color: var(--light-gray);
  box-sizing: border-box;
}
.feature_title {
  display: block;
  margin-top: 12px;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  color: var(--dark-primary);
}
.feature_disc {
  margin-top: 12px;
  font-family: Satoshi;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--dark-primary);
}

.ico_car {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url(/img/ico_car.png) center no-repeat;
}