@charset "UTF-8";
/* common */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
table,
th,
td,
form,
fieldset,
legend,
textarea,
input,
select,
textarea,
button,
article,
aside,
dialog,
footer,
header,
section,
footer,
nav,
figure,
main {
  margin: 0;
  padding: 0;
  font-family: ClashDisplay;
}

html,
body {
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

/* for mobile */
body,
input,
select,
textarea,
button {
  font-family: Satoshi;
}

ul,
ol {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input,
button,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  border: 0;
  border-radius: 0;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

/* input내 clear 버튼 제거 : IE10+ */
img,
fieldset {
  border: 0;
  vertical-align: top;
}

em,
address {
  font-style: normal;
}

.blind,
caption span,
legend {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  clip: rect(0, 0, 0, 0);
}

@font-face {
  font-family: "ClashDisplay";
  font-weight: 400;
  font-style: normal;
  src: url(/font/ClashDisplay-Regular.woff) format("woff");
}
@font-face {
  font-family: "Satoshi";
  font-weight: 400;
  font-style: normal;
  src: url(/font/Satoshi-Regular.woff) format("woff");
}
:root {
  --dark_primary: #2a254b;
  --dark_primary_hover: #1E193E;
  --primary: #4e4d93;
  --light_gray: #f9f9f9;
  --border_gray: #ebe8f4;
  --white: #fff;
  --border_dark: #cac6da;
  --bg_dark: rgba(249, 249, 249, 0.15);
  --bg_dark_hover: rgba(249, 249, 249, 0.3);
}

body {
  background-color: #f5f5f5;
}

/* <!-- [D] Typography --> */
.header_xlarge {
  font-size: 36px;
  font-weight: 400;
  line-height: 1.5;
}
.header_large {
  font-size: 32px;
  font-weight: 400;
  line-height: 1.5;
}
.header_medium {
  font-size: 24px;
  font-weight: 400;
  line-height: 1.5;
}
.header_small {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
}
.header_xsmall {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}
.header_xxsmall {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
}

.body_small {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
}
.body_medium {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}
.body_large {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
}

/* <!--// [D] Typography --> */
/* <!-- [D] Button --> */
.btn {
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  box-sizing: border-box;
  transition: background-color 0.3s ease-out;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.btn:disabled {
  opacity: 50%;
  pointer-events: none;
}
.btn_medium {
  padding: 16px 32px;
}
.btn_small {
  padding: 12px 24px;
}

.btn:has(.ico) {
  display: inline-flex;
  align-items: center;
}

.ico {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-left: 12px;
}
.ico_downwhite {
  background: url(/img/ico_down1.png) center no-repeat;
}
.ico_downdark {
  background: url(/img/ico_down2.png) center no-repeat;
}

/* <!-- [D] White --> */
.btn_white {
  background-color: var(--white);
  color: var(--dark_primary);
}
.btn_white:hover {
  background-color: var(--light_gray);
}
.btn_white:focus {
  border: 2px solid var(--primary);
}

/* <!--// [D] White --> */
/* <!-- [D] Secondary --> */
.btn_secondary {
  background-color: var(--light_gray);
  color: var(--dark_primary);
}
.btn_secondary:hover {
  background-color: var(--border_gray);
}
.btn_secondary:focus {
  border: 2px solid var(--primary);
}

/* <!--// [D] Secondary --> */
/* <!-- [D] Primary --> */
.btn_primary {
  background-color: var(--dark_primary);
  color: var(--white);
}
.btn_primary:hover {
  background-color: var(--dark_primary_hover);
}
.btn_primary:focus {
  border: 2px solid var(--primary);
}

/* <!--// [D] Primary --> */
/* <!-- [D] Opaque --> */
.btn_opaque {
  background-color: var(--bg_dark);
  color: var(--white);
}
.btn_opaque:hover {
  background: var(--bg_dark_hover);
}
.btn_opaque:focus {
  border: 2px solid var(--primary);
}

/* <!--// [D] Opaque --> */
/* <!-- [D] Ghost --> */
.btn_ghost {
  background-color: transparent;
  color: var(--dark_primary);
}
.btn_ghost:hover {
  background: var(--border_gray);
}
.btn_ghost:focus {
  border: 2px solid var(--primary);
}

/* <!--// [D] Ghost --> */
/* <!--// [D] Button--> */
.product_item {
  display: inline-block;
  width: 30%;
  margin-top: 20px;
  font-size: 0;
}
.product_item:nth-child(even) {
  width: calc(70% - 20px);
  margin-left: 20px;
}
.product_item:nth-child(-n+2) {
  margin-top: 0;
}

.thumb {
  position: relative;
  overflow: hidden;
}
.thumb_portrait {
  padding-top: 134%;
}
.thumb_landscape {
  padding-top: 59.237%;
}
.thumb .img {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.info {
  margin-top: 24px;
}
.info_title {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
}
.info_price {
  margin-top: 8px;
  font-family: Satoshi;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
}

.form {
  display: inline-block;
}

input {
  border: none;
  outline: none;
}

::-moz-placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

input,
::placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.input {
  width: 354px;
  padding: 17px 32px;
}
.input_white {
  background-color: var(--white);
}
.input_white::-moz-placeholder {
  color: var(--border_dark);
  -moz-user-select: none;
       user-select: none;
}
.input_white::placeholder {
  color: var(--border_dark);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.input_transparent {
  background: rgba(255, 255, 255, 0.15);
}
.input_transparent::-moz-placeholder {
  color: var(--white);
  -moz-user-select: none;
       user-select: none;
}
.input_transparent::placeholder {
  color: var(--white);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.submit {
  display: inline-block;
  width: 118px;
  height: 56px;
  padding: 16px 32px;
  font-family: Satoshi;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  vertical-align: bottom;
  cursor: pointer;
}
.submit_dark {
  background-color: var(--dark_primary);
  color: var(--white);
}
.submit_white {
  background-color: var(--white);
  color: var(--dark_primary);
}

.steps {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 122px;
  height: 46px;
  padding: 12px 16px;
  box-sizing: border-box;
}
.steps_white {
  background-color: var(--white);
}
.steps_gray, .steps_gray input {
  background-color: var(--light_gray);
}
.steps button {
  display: inline-block;
  padding: 0 8px;
  font-family: Satoshi;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: var(--border_gray);
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.steps input {
  width: 100%;
  text-align: center;
}

.input_select_box input[type=checkbox] {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
}
.input_select_box .lable_checkbox {
  display: inline-block;
  position: relative;
  padding-left: 28px;
  font-family: Satoshi;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.input_select_box .input_checkbox + .lable_checkbox::before {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 16px;
  height: 16px;
  background: url(/img/ico_nocheck.png) no-repeat;
  transform: translateY(-50%);
  content: "";
}
.input_select_box .input_checkbox:checked + .lable_checkbox::before {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 16px;
  height: 16px;
  background: url(/img/ico_check.png) no-repeat;
  transform: translateY(-50%);
  content: "";
}

.feature {
  width: 305px;
  height: 244px;
  padding: 48px;
  background-color: var(--light_gray);
  box-sizing: border-box;
}
.feature_title {
  display: block;
  margin-top: 12px;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  color: var(--dark_primary);
}
.feature_disc {
  margin-top: 12px;
  font-family: Satoshi;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--dark_primary);
}

.ico_car {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url(/img/ico_car.png) center no-repeat;
}