<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="styles.css">
</head>

<body>
  <div class="wrap">
    <!-- [D] Colors -->
    <div class="colors">
      <div class="heading">
        <h2 class="title">Colors</h2>
      </div>
      <div class="content">
        <ul class="content__list">
          <li class="content__item">
            <span class="content__color">#2a254b</span>
            <span class="content__name">Dark primary</span>
          </li>
          <li class="content__item">
            <span class="content__color">#4e4d93</span>
            <span class="content__name">Primary</span>
          </li>
          <li class="content__item">
            <span class="content__color">#f9f9f9</span>
            <span class="content__name">Light Gray</span>
          </li>
          <li class="content__item">
            <span class="content__color">#ebe8f4</span>
            <span class="content__name">Border Gray</span>
          </li>
          <li class="content__item">
            <span class="content__color">#fff</span>
            <span class="content__name">White</span>
          </li>
          <li class="content__item">
            <span class="content__color">#cac6da</span>
            <span class="content__name">Border Dark</span>
          </li>
        </ul>
      </div>
    </div>
    <!--// [D] Colors -->

    <!-- [D] Typography -->
    <div class="typography">
      <div class="heading">
        <h2 class="title">Typography</h2>
      </div>
      <div class="content">
        <table class="table">
          <colgroup>
            <col style="width: 49.004%">
            <col style="width: 15.537%;">
            <col style="width: 14.143%;">
            <col style="width: 21.414%;">
          </colgroup>
          <thead>
            <tr>
              <th scope="col">Sample</th>
              <th scope="col">Style</th>
              <th scope="col">Size</th>
              <th scope="col">Line height</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <h1 class="heading-one">This is some text</h1>
              </td>
              <td>Headline one</td>
              <td>36pt</td>
              <td>150%</td>
            </tr>
            <tr>
              <td>
                <h2 class="heading-two">This is some text</h2>
              </td>
              <td>Headline two</td>
              <td>32pt</td>
              <td>150%</td>
            </tr>
            <tr>
              <td>
                <h3 class="heading-three">This is some text</h3>
              </td>
              <td>Headline three</td>
              <td>24pt</td>
              <td>150%</td>
            </tr>
            <tr>
              <td>
                <h4 class="heading-four">This is some text</h4>
              </td>
              <td>Headline four</td>
              <td>20pt</td>
              <td>150%</td>
            </tr>
            <tr>
              <td>
                <h5 class="heading-five">This is some text</h5>
              </td>
              <td>Headline five</td>
              <td>16pt</td>
              <td>150%</td>
            </tr>
            <tr>
              <td>
                <h6 class="heading-six">This is some text</h6>
              </td>
              <td>Headline six</td>
              <td>14pt</td>
              <td>150%</td>
            </tr>
            <tr>
              <td>
                <p class="body-sm">This is small body text</p>
              </td>
              <td>Body small</td>
              <td>14pt</td>
              <td>150%</td>
            </tr>
            <tr>
              <td>
                <p class="body-md">This is medium body text</p>
              </td>
              <td>Body medium</td>
              <td>16pt</td>
              <td>150%</td>
            </tr>
            <tr>
              <td>
                <p class="body-lg">This is large body text</p>
              </td>
              <td>Body large</td>
              <td>18pt</td>
              <td>150%</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!--// [D] Typography -->

    <!-- [D] Button Medium -->
    <div class="button-md">
      <div class="heading">
        <h2 class="title">Button Medium</h2>
      </div>
      <div class="content content--bg">
        <button class="btn btn--white">Button</button>
        <button class="btn btn--lightgrey">Button</button>
        <button class="btn btn--lightgrey">Button</button>
      </div>
    </div>
    <!--// [D] Button Medium -->
  </div>
</body>

</html>