<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <div class="wrap">
    <!-- [D] Colors -->
    <div class="colors">
      <div class="heading">
        <h2 class="title">Colors</h2>
      </div>
      <div class="content">
        <ul class="content__list">
          <li class="content__item">
            <span class="content__color"></span>
            <span class="content__name">Dark primary</span>
          </li>
          <li class="content__item">
            <span class="content__color"></span>
            <span class="content__name">Primary</span>
          </li>
          <li class="content__item">
            <span class="content__color"></span>
            <span class="content__name">Light Gray</span>
          </li>
          <li class="content__item">
            <span class="content__color"></span>
            <span class="content__name">Border Gray</span>
          </li>
          <li class="content__item">
            <span class="content__color"></span>
            <span class="content__name">White</span>
          </li>
          <li class="content__item">
            <span class="content__color"></span>
            <span class="content__name">Border Dark</span>
          </li>
        </ul>
      </div>
    </div>
    <!--// [D] Colors -->

    <!-- [D] Typography -->
    <div class="typography">
      <div class="heading">
        <h2 class="title">Typography</h2>
      </div>
      <div class="content">
        
      </div>
    </div>
    <!--// [D] Typography -->
  </div>
</body>
</html>