@charset "utf-8";

@font-face {
  font-family: "ClashDisplay";
  font-weight: 400;
  font-style: normal;
  src: url(font/ClashDisplay-Regular.woff) format("woff");
}

@font-face {
  font-family: "Satoshi";
  font-weight: 400;
  font-style: normal;
  src: url(font/Satoshi-Regular.woff) format("woff");
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
a,
button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: ClashDisplay;
}
body {
  background-color: #f5f5f5;
}
ol,
ul {
  list-style: none;
}

button {
  background: transparent;
}

a {
  color: #000;
  text-decoration: none;
}

.blind {
  overflow: hidden;
  position: absolute;
  padding: 0 !important;
  width: 1px !important;
  height: 1px !important;
  line-height: 1px !important;
  clip: rect(1px, 1px, 1px, 1px);
}

:root {
  --dark-primary: #2a254b;
  --primary: #4e4d93;
  --light-gray: #f9f9f9;
  --border-gray: #ebe8f4;
  --white: #fff;
  --border-dark: #cac6da;
}

.wrap {
  max-width: 974px;
  margin: 0 auto;
}
.heading {
  display: block;
  height: 129px;
  line-height: 129px;
  /* background-color: var(--dark-primary); */
}
.title {
  margin: 40px 44px;
  display: inline-block;
  padding-left: 10px;
  border-left: 4px solid var(--primary);
  font-family: Satoshi;
  font-size: 36px;
  font-weight: 400;
  line-height: 49px;
  color: var(--dark-primary);
}
.content {
  padding: 56px;
  border-radius: 4px;
  background-color: var(--white);
}

/* <!-- [D] Colors --> */
.content__list {
  display: block;
  font-size: 0;
}
.content__item {
  display: inline-block;
  width: 115px;
}
.content__item + .content__item {
  margin-left: 34px;
}
.content__color {
  display: inline-block;
  width: 115px;
  height: 115px;
  border: 2px solid var(--dark-primary);
  font-size: 18px;
  text-align: center;
  box-sizing: border-box;
}
.content__name {
  display: inline-block;
  margin-top: 13px;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: var(--dark-primary);
}
.content__item:nth-child(1) .content__color {
  background-color: var(--dark-primary);
}
.content__item:nth-child(2) .content__color {
  background-color: var(--primary);
}
.content__item:nth-child(3) .content__color {
  background-color: var(--light-gray);
}
.content__item:nth-child(4) .content__color {
  background-color: var(--border-gray);
}
.content__item:nth-child(5) .content__color {
  background-color: var(--white);
}
.content__item:nth-child(6) .content__color {
  background-color: var(--border-dark);
}

/* <!--// [D] Colors --> */

/* <!-- [D] Typography --> */

.table {
  width: 100%;
}
thead {
  height: 48px;
  background-color: var(--light-gray);
}
thead tr th {
  padding: 6px 10px;
  font-family: Satoshi;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
}
thead tr th:nth-child(3),
thead tr th:nth-child(4) {
  text-align: center;
}
tbody tr {
  height: 93px;
}
tbody tr td {
  padding: 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}
tbody tr td:nth-child(2) {
  text-align: left;
}
tbody tr td:nth-child(3),
tbody tr td:nth-child(4) {
  text-align: center;
}
.heading-one {
  font-size: 36px;
  font-weight: 400;
  line-height: 50px;
}
.heading-two {
  font-size: 32px;
  font-weight: 400;
  line-height: 45px;
}
.heading-three {
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
}
.heading-four {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
}
.heading-five {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}
.heading-six {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.body-sm {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}
.body-md {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.body-lg {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
}
/* <!--// [D] Typography --> */

/* <!-- [D] Button Medium --> */
.content--bg {
  background-color: var(--primary);
  font-size: 0;
}
.btn {
  padding: 16px 32px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.btn + .btn {
  margin-left: 40px;
}
.btn--white {
  background-color: var(--white);
  color: var(--dark-primary);
}
.btn--lightgrey {
  background-color: var(--light-gray);
  color: var(--dark-primary);
}

/* <!--// [D] Button Medium --> */
