@charset "utf-8";

/* common */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
table,
th,
td,
form,
fieldset,
legend,
textarea,
input,
select,
textarea,
button,
article,
aside,
dialog,
footer,
header,
section,
footer,
nav,
figure,
main {
  margin: 0;
  padding: 0;
  font-family: ClashDisplay;
}

html,
body {
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none
}

/* for mobile */
body,
input,
select,
textarea,
button {
  font-family: Satoshi;
}

ul,
ol {
  list-style: none
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

input,
button,
select {
  -webkit-appearance: none;
  appearance: none;
  border: 0;
  border-radius: 0;
  background-color: transparent
}

input::-ms-clear {
  display: none
}

/* input내 clear 버튼 제거 : IE10+ */
img,
fieldset {
  border: 0;
  vertical-align: top
}

em,
address {
  font-style: normal
}

.blind,
caption span,
legend {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  clip: rect(0, 0, 0, 0)
}

@font-face {
  font-family: "ClashDisplay";
  font-weight: 400;
  font-style: normal;
  src: url(/font/ClashDisplay-Regular.woff) format("woff");
}

@font-face {
  font-family: "Satoshi";
  font-weight: 400;
  font-style: normal;
  src: url(/font/Satoshi-Regular.woff) format("woff");
}

:root {
  --dark_primary: #2a254b;
  --dark_primary_hover: #1E193E;
  --primary: #4e4d93;
  --light_gray: #f9f9f9;
  --border_gray: #ebe8f4;
  --white: #fff;
  --border_dark: #cac6da;
  --bg_dark: rgba(249, 249, 249, 0.15);
  --bg_dark_hover: rgba(249, 249, 249, 0.3);
}

$border-gray: 1px solid var(--border_gray);
$border-primary: 2px solid var(--primary);

@mixin custom-font($fontsize, $fontweight, $lineheight) {
  font-size: $fontsize;
  font-weight: $fontweight;
  line-height: $lineheight;
}

@mixin custom-dimensions($width, $height) {
  width: $width;
  height: $height;
}

body {
  background-color: #f5f5f5;
}

/* <!-- [D] Typography --> */
.heading {
  &_one {
    @include custom-font(36px, 400, 50px);
  }

  &_two {
    @include custom-font(32px, 400, 45px);
  }

  &_three {
    @include custom-font(24px, 400, 34px);
  }

  &_four {
    @include custom-font(20px, 400, 28px);
  }

  &_five {
    @include custom-font(16px, 400, 22px);
  }

  &_six {
    @include custom-font(14px, 400, 20px);
  }
}

.body {
  &_sm {
    @include custom-font(14px, 400, 21px);
  }

  &_md {
    @include custom-font(16px, 400, 24px);
  }

  &_lg {
    @include custom-font(18px, 400, 27px);
  }
}

/* <!--// [D] Typography --> */

/* <!-- [D] Button --> */
.btn {
  display: inline-flex;
  align-items: center;
  
  @include custom-font(16px, 400, 24px);

  box-sizing: border-box;
  transition: background-color 0.3s ease-out;
  cursor: pointer;
  user-select: none;

  &.is_disabled {
    opacity: 50%;
    pointer-events: none;
  }

  &_md {
    padding: 16px 32px;
  }

  &_sm {
    padding: 12px 24px;
  }
}

.ico {
  display: inline-block;
  @include custom-dimensions(16px, 16px);

  margin-left: 12px;

  &_downwhite {
    background: url(/img/ico_down1.png) center no-repeat;
  }

  &_downdark {
    background: url(/img/ico_down2.png) center no-repeat;
  }
}

/* <!-- [D] White --> */
.btn_white {
  background-color: var(--white);
  color: var(--dark_primary);

  &:hover {
    background-color: var(--light_gray);

  }

  &:focus {
    border: $border-primary;
  }
}

/* <!--// [D] White --> */

/* <!-- [D] Secondary --> */
.btn_secondary {
  background-color: var(--light_gray);
  color: var(--dark_primary);

  &:hover {
    background-color: var(--border_gray);

  }

  &:focus {
    border: $border-primary;
  }
}

/* <!--// [D] Secondary --> */

/* <!-- [D] Primary --> */
.btn_primary {
  background-color: var(--dark_primary);
  color: var(--white);

  &:hover {
    background-color: var(--dark_primary_hover);
  }

  &:focus {
    border: $border-primary;
  }
}

/* <!--// [D] Primary --> */

/* <!-- [D] Opaque --> */
.btn_opaque {
  background-color: var(--bg_dark);
  color: var(--white);

  &:hover {
    background: var(--bg_dark_hover);
  }

  &:focus {
    border: $border-primary;
  }
}

/* <!--// [D] Opaque --> */

/* <!-- [D] Ghost --> */
.btn_ghost {
  background-color: transparent;
  color: var(--dark_primary);

  &:hover {
    background: var(--border_gray);
  }

  &:focus {
    border: $border-primary;
  }
}

/* <!--// [D] Ghost --> */
/* <!--// [D] Button--> */

// <!-- [D] Product Card -->
.product_item {
  display: inline-block;
  width: 30%;
  margin-top: 20px;
  font-size: 0;

  &:nth-child(even) {
    width: calc(70% - 20px);
    margin-left: 20px;
  }

  &:nth-child(-n + 2) {
    margin-top: 0;
  }
}

.thumb {
  position: relative;
  overflow: hidden;

  &_img_4x5 {
    padding-top: 134%;
  }

  &_img_5x3 {
    padding-top: 59.237%;
  }

  .img {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;

    @include custom-dimensions(100%, 100%);

    object-fit: cover;
  }
}

.info {
  &_title {
    margin-top: 24px;

    @include custom-font(20px, 400, 28px);
  }

  &_price {
    margin-top: 8px;
    font-family: Satoshi;

    @include custom-font(18px, 400, 27px);
  }
}

// <!-- [D] Product Card -->

// <!-- [D] Other -->
// <!-- [D] Input -->
.form {
  display: inline-block;
}

input {
  border: none;
  outline: none;
}

input,
::placeholder {
  @include custom-font(16px, 400, 22px);
}

.input {
  @include custom-dimensions(354px, 56px);

  padding: 0px 32px;

  &_white {
    background-color: var(--white);

    &::placeholder {
      color: var(--border_dark);
      user-select: none;
    }
  }

  &_transparent {
    background: rgba(255, 255, 255, 0.15);

    &::placeholder {
      color: var(--white);
      user-select: none;
    }
  }
}

.submit {
  @include custom-dimensions(118px, 56px);

  padding: 16px 32px;
  vertical-align: bottom;
  cursor: pointer;

  &_dark {
    background-color: var(--dark_primary);
    color: var(--white);
  }

  &_white {
    background-color: var(--white);
    color: var(--dark_primary);
  }
}

// <!-- [D] Input -->

// <!-- [D] Stepper -->
.steps {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  @include custom-dimensions(122px, 46px);

  padding: 12px 16px;
  box-sizing: border-box;

  &_white {
    background-color: var(--white);
  }

  &_gray,
  &_gray input {
    background-color: var(--light_gray);
  }

  span {
    display: inline-block;
    padding: 0 8px;
    font-family: Satoshi;

    @include custom-font(16px, 400, 22px);

    color: var(--border_gray);
    cursor: pointer;
    user-select: none;
  }

  input {
    width: 100%;
    text-align: center;
  }

}

// <!--// [D] Stepper -->

// <!-- [D] Checkbox -->
.checkbox {
  display: inline-flex;
  align-items: center;

  input[type=checkbox] {
    accent-color: var(--dark_primary);
  }

  &_input {
    display: inline-block;

    @include custom-dimensions(16px, 16px);

    appearance: checkbox;
  }

  label {
    display: inline-block;
    padding-left: 12px;

    @include custom-font(16px, 400, 24px);

    user-select: none;
    cursor: pointer;
  }
}

// <!--// [D] Checkbox -->

// <!-- [D] Feature Card -->
.feature {
  @include custom-dimensions(305px, 244px);

  padding: 48px;
  background-color: var(--light_gray);
  box-sizing: border-box;

  &_title {
    display: block;
    margin-top: 12px;

    @include custom-font(20px, 400, 28px);

    color: var(--dark_primary);
  }

  &_disc {
    margin-top: 12px;
    font-family: Satoshi;

    @include custom-font(16px, 400, 24px);

    color: var(--dark_primary);
  }
}

.ico_car {
  display: inline-block;

  @include custom-dimensions(24px, 24px);

  background: url(/img/ico_car.png) center no-repeat;
}

// <!--// [D] Feature Card -->
// <!--// [D] Other -->

