@charset "utf-8";

@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  src: url(font/Roboto-Regular.woff) format("woff");
}

@font-face {
  font-family: "Roboto";
  font-weight: 500;
  font-style: normal;
  src: url(font/Roboto-Medium.woff) format("woff");
}

@font-face {
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
  src: url(font/Roboto-Bold.woff) format("woff");
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: Roboto;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button,
input {
  border: 0;
  line-height: 0;
  background: transparent;
}
.blind {
  overflow: hidden;
  position: absolute;
  padding: 0 !important;
  width: 1px !important;
  height: 1px !important;
  line-height: 1px !important;
  clip: rect(1px, 1px, 1px, 1px);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 66px;
  padding: 69px 162px;
}

.logo {
  flex: 0 0 198px;
  height: 53px;
}

.logo__link {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.logo__img {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.nav {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.nav__list {
  display: flex;
  align-items: center;
}
.nav__item + .nav__item {
  margin-left: 26px;
}
.nav__link {
  padding: 5px 10px;
  color: #274c5b;
  cursor: pointer;
  font-weight: 700;
  line-height: 23px;
  font-size: 20px;
}
.nav__item--pages {
  display: flex;
  position: relative;
  flex-wrap: nowrap;
}
.nav__item--pages::before {
  position: absolute;
  top: 50%;
  right: 0;
  width: 6px;
  height: 3px;
  background: url(img/ico_down.png) no-repeat center/cover;
  transform: translateY(-50%);
  content: "";
}

.header__action {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 18px;
}

.search {
  display: flex;
  position: relative;
  align-items: center;
  height: 100%;
}

.search__input {
  width: 274px;
  height: 100%;
  padding: 0 70px 0 30px;
  border-radius: 45px;
  background-color: #fafafa;
  outline: none;
  font-size: 21px;
}
.search button {
  position: absolute;
  top: 50%;
  right: 6px;
  transform: translateY(-50%);
}
.cart {
  display: flex;
  align-items: center;
  min-width: 159px;
  height: 100%;
  padding: 5px 6px 5px 6px;
  border: 1px solid #e0e0e0;
  border-radius: 45px;
  box-sizing: border-box;
}

.cart__number {
  display: block;
  margin-left: 12px;
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  text-align: center;
  color: #274c5b;
}

.icon {
  display: inline-block;
  width: 57px;
  height: 56px;
  background-image: url("img/list-icon.png");
  background-repeat: no-repeat;
  cursor: pointer;
}

.icon--search {
  background-position: -61px -2px;
}

.icon--cart {
  background-position: -2px -2px;
}
